@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Audiowide', 'cursive';
}

span {
    color: yellow;
}

#special_1 {
    height: 100vh;
    transition: 0.5s;
    animation: anime 15s linear infinite;  
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 10%;
}

header .logo {
    font-size: 35px;
    font-weight: bold;
    color: azure;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin: 0 10px;
}

header ul li a {
    text-decoration: 0;
    color: azure;
    position: relative;
}

header ul li a::before {
    position: absolute;
    bottom: 0;
    content: '';
    height: 3px;
    width: 0;
    background-color: yellow;
    border-radius: 6px;
    transition: 0.5s;
}

header ul li a:hover::before {
    width: 100%;
}

.text {
    display: flex;
    align-items: stretch;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: flex-end;
    flex-wrap: wrap;
    padding-top: 250px;
    padding-bottom: 250px;
}

.text h1 {
    color: azure;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    display: flex;
    
}

/* intro */

.intro {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: black;
}

/* liens */

a,
a:visited,
a:active{
    text-decoration: none;
    color: azure;
    transition: all 0.2 ease;
}

a:hover {
    color: yellow;
}

/* footer */

footer {
    background-color: black;
    color: azure;
    padding: 30px 100px;
    display: flex;
}

footer h3 {
    color: azure;
}

.footer-top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 50px;
    justify-items: center;
    max-width: 900px;
    margin: 0 auto 80px auto;
}

.footer-col {
    width: max-content;
}

.footer-col * {
    display: block;
    width: max-content;
}

.footer-col h3 {
    margin-bottom: 20px;
    font-size: 25px;
}

.footer-col a {
    padding: 5px 0;
}

.footer-middle {
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
}

.footer-middle h3 {
    margin-bottom: 10px;
}

.footer-middle label {
    display: block;
    margin-bottom: 10px;
    overflow-wrap: break-word;
}

input {
    padding: 10px;
    border-radius: 3px;
}
input[type="submit"] {
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

input[type="submit"]:hover{
    color: black;
    background-color: yellow;
}

.footer-bottom {
    display: flex;
    justify-content: center;
}

a.social {
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: azure;
    color: black;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

a.social:hover {
    background-color: yellow;
    color: black;
}

a.social:not(:last-child) {
    margin-right: 10px;
}

@media screen and (max-width: 900px) {
    .footer-top {
        justify-items: start;
    }
}

@media screen and (max-width: 660px) {
    footer {
        padding: 30px;
    }

    .footer-middle {
        text-align: left;
    }
}
    

    
/* Animation Background */

@keyframes anime {
    0%{
        background: url(./images_cyber/background-header.jpg);
        background-position: center ;
        background-size: cover;
        height: 100vh;
    }
    25%{
        background: url(./images_cyber/cyberpunk-2077-video-games-gun-3d-yellow-background-hd-wallpaper-preview.jpg);
        background-position: center ;
        background-size: cover;
        height: 100vh;
    }
    50%{
        background: url(./images_cyber/cyberpunk-2077-video-game-characters-hd-wallpaper-preview.jpg);
        background-position: center ;
        background-size: cover;
        height: 100vh;
    }
    100%{
        background: url(./images_cyber/cyberpunk-2077-cyberpunk-typography-video-games-wallpaper-preview.jpg);
        background-position: center ;
        background-size: cover;
        height: 100vh;
    }
    0%{
        background: url(./images_cyber/the-game-neon-fangs-face-wallpaper-preview.jpg);
        background-position: center ;
        background-size: cover;
        height: 100vh;
    }
}



/* News */

.mise {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 120px;
    background-color: black;
    color: azure;
    font-family: 'Audiowide', 'cursive';   
}

.mise h1 {
    margin: 10px;
    padding: 10px;
    text-decoration: underline yellow;
}

.mise p {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Audiowide', 'cursive';  
}

/* highlight */

.highlights {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    border: 2px solid yellow;
    flex-direction: column;
}

.highlights img {
    object-fit: cover;
    object-position: top;
}

.highlights h2 {
    display: flex;
    margin: 10px;
    padding: 10px;
    color: azure;
    font-family: 'Audiowide', 'cursive';
}

.highlights_2 {
    border: 2px solid yellow;
    margin: 10px;
    padding: 10px;
}

.highlights_3 {
    border: 2px solid yellow;
    margin: 10px;
    padding: 10px;
}

.highlights_4 {
    border: 2px solid yellow;
    margin: 10px;
    padding: 10px;
}

/* Recompenses */

.awards {
    background-color: black;
}

/* Contact */

.block_page {
    background-color: black;
}

.special_2 {
background-color: yellow;    
}

.card {
    width: 70%;
    margin: auto;
    margin-top: 100px;
    padding: 30px 90px 90px 90px;
    border: 6px solid rgba(0, 0, 0, 1);
    box-shadow: 20px 20px 0 rgba(0, 0, 0, 1);
    border-radius: 50px;
    position: relative;
  }
  
  .card h2 {
    color: rgba(0, 0, 0, 1);
    font-size: 60px;
    text-transform: uppercase;
  }
  
  .card .row {
    position: relative;
    width: 100%;
    display: grid;
    grid: auto / auto auto;
    grid-template-columns: repeat(auto-fit,minmax(40%, 1fr));
    grid-gap: 30px;
  }
  
  .card .row .col_3 {
    position: relative;
    width: 100%;
    margin: 30px 20px 40px 0;
    transition: 0.5s;
  }
  
  .card .row .form-group {
    position: relative;
    width: 100%;
    height: 40px;
    color: #000;
  }
  
  .card .row .form-group input,
  .card .row .form-group textarea {
    position: absolute;
    width: 90%;
    height: 100%;
    background: transparent;
    outline: none;
    font-size: 24px;
    padding: 10px 0 10px 20px;
    border: 5px solid rgba(0, 0, 0, 1);
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 1);
    color: #000;
    border-radius: 50px;
  }
  
  .card .row .form-group label {
    line-height: 40px;
    color: #000;
    font-size: 24px;
    margin: 0 0 0 30px;
    display: block;
    pointer-events: none;
  }
  
  .row .col_3:nth-child(6) {
    margin-top: 64px;
  }
  
  .card .row .form-group input:focus,
  .card .row .form-group textarea:focus {
    border: 5px solid rgb(255, 0, 0);
    transition: all 0.5s;
  }
  
  .card .row input[type="submit"] {
    border: 5px solid rgba(0, 0, 0, 1);
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 1);
    padding: 10px;
    height: 100%;
    width: 50%;
    cursor: pointer;
    outline: none;
    background: transparent;
    text-transform: uppercase;
    color: #000;
    line-height: 40px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 45px;
    transition: all 0.4s;
  }
  
  .card .row input[type="submit"]:hover {
    border: 5px solid rgb(255, 0, 0);
    color: #000;
    transition: all 0.4s;
  }
  
  @media screen and (max-width: 900px) {
    .card .row {
      grid-template-columns: repeat(auto-fit,minmax(70%, 1fr));
    }
    
    .card {
      padding: 20px;
    }
    
    .card h2 {
      font-size: 34px;
    }
    
    .card .row input[type="submit"] {
      width: 100%;
    }
  }